body {
  margin: 0;
  font-family: Helvetica, sans-sefif;
  color: #fff;
 
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 2;
  padding: 2;
}

h1,h2, h3, h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #6b6f8a;
  font-size: 0.9em;
}

small {
  color: #6b6f8a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c1839; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6f8a; 
}

/*===== Navbar =====*/
.navbar {
  text-decoration: none;
  background: #1c2147;
  z-index: 3;
  position: fixed;
  width: 100%;
}

.navbar .container {
  max-width: 1250px;
  padding: 1em 2em;
  margin: 0 auto;
}

.navbar .container > div {
  display: grid;
  grid-template-columns: fr 6fr;
  align-items: center;
}

.navbar .menu,
.navbar .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: inline-block;
}

.navbar ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.navbar ul a {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #6b6f8a;
  padding-bottom: 0.2em;
  transition: 0.3s;
}

.navbar ul a:hover {
  color: #fff;
}

.navbar .active {
  border-bottom: 2px #03dcee solid;
  color: #fff;
}

.navbar .container .menu-btn {
  display: none;
}

.options span {
  font-size: 2em;
  color: #fff;
}

.profile-img {
  width: 2.5em;
  border-radius: 50%;
}

.notification { position: relative; }

.notification::before {
  content: '5';
  position: absolute;
  top: -1.5em;
  right: -0.5em;
  width: 1.5em;
  height: 1.5em;
  background: #ea335d;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
}
/*===== Dashboard =====*/
.dashboard {
  margin-top: 20px;
  background: #172042;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  justify-content: center;
  grid-gap: 2em;
  /* position: absolute;
  top: 4.1em;
  right: 0; */
 /* width: calc(100% - 18em);  */
  overflow-x: hidden;
}

.panel {
  background: linear-gradient(90deg, #262a4f, #122442);
  box-shadow: 
    -5px -5px 8px #293063,
    5px 5px 8px #11163c;
  border-radius: 15px;
  height: 500px;
  overflow-y: scroll;
   
}

/*List panel*/

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;

}

.list li:not(:last-child) {
  border-bottom: 1px #2a335e solid;
}
.person{
  width: 120px;
}
.no_books {
  color: #2e4fd2;
  width: 100px;
  text-align: center;
}
.facts {
  padding-right: 50px;
}

.no_pages {
  color: #c13232;
  width: 100px;
  text-align: center;
}


/*Charts*/
#scientificChart {
  grid-column-start: span 3;
}
#barChart{
  width: 100%;

  /*overflow-x: scroll;*/
}
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

h1 {
  text-align: center;
  font: 20px Arial, Helvetica, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1150px) {
  .dashboard, .sales {
    grid-template-columns: 1fr 1fr;
  }
  #scientificChart, .sales {
    grid-column-start: span 2;
  }
  .text-horizontal {
    grid-column-start: span 1;
  }
}

@media screen and (max-width: 1050px) {
  .sidebar {
    max-width: initial;
    text-align: center;
    padding: 5em 1em 1em 1em;
  }
  .sidebar a span:not(.material-icons),
  .note,
  .sidebar-footer,
  .title  {
    display: none;
  }
  .sidebar a .material-icons {
    margin: 0;
  }
  .dashboard {
    width: calc(100% - 4.1em);
  }
}

@media screen and (max-width: 800px) {
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .navbar .container > div {
    grid-template-columns: 1fr;
  }
  .navbar  .menu {
    flex-direction: column;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    transition: 0.7s;
  }
  .navbar ul:nth-child(1) li {
    display: block;
    margin: 1em 0;
  }
  .navbar ul:nth-child(1) li:nth-child(1) {
    margin-top: 1.5em;
  }
  .navbar ul:nth-child(2) li:nth-child(1) {
    margin-left: 0;
  }
  .navbar .container .menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  .navbar .container .menu-btn span {
    font-size: 1.7em;
  }
  .navbar .container .nav-toggle {
    height: 16em;
  }
}

@media screen and (max-width: 750px) {
  .dashboard, .sales {
    grid-template-columns: 1fr;
  }
  #scientificChart, .sales {
    grid-column-start: span 1;
  }
}

@media screen and (max-height: 700px) {
  .sidebar .container {
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 13px;
  }
}